@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Oswald&family=Roboto&display=swap');

:root {
    --primary-color: #f6746a   ;
    --secondary-color: #b4e1ff ;
    --accent1-color: #d9ffc2;
    --accent2-color: #b8b8b8;
  
    --heading-font: "Oswald";
    --paragraph-font: Kanit, Helvetica, sans-serif;
  
    --headline-color-on-white: #f6746a;  
    --headline-color-on-color: #b4e1ff; 
    --paragraph-color-on-white: #f6746a;  
    --paragraph-color-on-color: #b4e1ff; 
    --paragraph-background-color: #f6746a  ;
    --nav-link-color: #f6746a;
    --nav-background-color: #d9ffc2;
    --nav-hover-link-color: #b4e1ff;
    --nav-hover-background-color: #f6746a;
}

header {
    padding: .5em;
    text-align: center;
    background-color: var(--paragraph-background-color);
    display: grid;
    grid-template-columns: 150px auto;
    height: 100px;
  }

  .logo {
    width: 100px;
    grid-column-start: 1;
    margin-right:15px;
    justify-self: center;
    align-self: center;
    margin:auto;
    border:1px solid black;
    transition: all .3s ease-in-out;
}

.logo:hover {
    border-radius: 50%;
    opacity: .9;
}

#main {
    max-width:1600px;
    margin: 0 auto;

}

body {
    background-color: #fcfbfb; 
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
    background: url(../images/background.jpg) ;
}

nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    font-size: 1.3em;
    display: flex;
    justify-content: space-around;
    grid-column-start: 2;
    max-height: 100px;
    list-style-type: none;
}

  

nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
    transition: all .3s ease-in-out;
  
  }
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    border-radius: 50%;
  }

.everything{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.first{
    background:url(../images/background1.jpg);
    margin-top: 50px;
    width: 60%;
    border: .5em solid var(--nav-hover-background-color);
    text-align:center;
    grid-column:1/4;
    grid-row:1/2;
    margin-bottom:auto;

    
}

.second{
    grid-column:3/4;
    grid-row: 1/3;
    text-align: center;
    margin-top: 50px;
    border: .5em solid var(--nav-link-color);
    background:url(../images/background2.jpg);
    max-width: 500px;
    overflow-wrap: break-word;
    width:500px;

}

.second img, .third img, .fourth img{
    transition:all .5s ease-in-out;
}

.about {
    width: 500px;
    height: 200px;
    margin:auto;

}

.everything2{

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;

    margin-top: -350px;
}



.third {

    text-align: center;
    border: .5em solid var(--nav-link-color);
    background:url(../images/background2.jpg);
    max-width: 400px;
    overflow-wrap: break-word;
    width:400px;
}

.ns {
    width:400px;
    margin:auto;
    opacity: .8;
}

.ns:hover {
    opacity: 1;
    border-radius: 50%;
}

.fourth {

    text-align: center;
    border: .5em solid var(--nav-link-color);
    background:url(../images/background2.jpg);
    max-width: 400px;
    overflow-wrap: break-word;
    width:400px;
}

.xbox {
    width:400px;
    margin:auto;
    opacity: .8;
}

.xbox:hover {
    opacity: 1;
    border-radius: 50%;
}

.about:hover
{
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
    opacity: .7;
    border-radius: 50%;

}

  .main p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
  }

  h {
    font-family: var(--heading-font);
    color: var(--paragraph-color);
    text-align: center;
    font-size: 1.2em;
    
  }


  footer {
    border: .5em solid #f6746a;
    text-align: center;
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-columns: 150px auto;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
 

  }



footer p {
    text-decoration: none;
    color: var(--paragraph-background-color)
}

footer p a{
    text-decoration: none;
    color: var(--paragraph-background-color)
}

footer p:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
    width: 50%;
    transition: all .3s ease-in-out;
}

footer .social a{
    text-decoration: none;
}

footer .social img:hover {
    opacity: .5;
}

.social{
    display:flex;
    justify-content: space-around;
}

